body {
    margin: 0px;
    padding: 0px;
    background: #111;
}

.msg {
    position: absolute;
    top: 0;
    bottom: 60px;
    margin-bottom: auto;
    display: block;
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    z-index: -1;
}
#msgs{
    color: white;
}
#MessageField{
    color: black;
    height: 5rem;
}

.userName{
    color: yellow;
    display: inline;
    font-weight: bold;
    font-style: italic;
}

