body {
    margin: 0px;
    padding: 0px;
}

.msg {
    position: absolute;
    top: 0;
    bottom: 30px;
    border: 1px solid green;
    margin-bottom: auto;
    display: block;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
}
